<ion-header>
  <ion-toolbar>
    <ion-title>Interviewers</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6" offset-sm="2">
        <ion-list>


          <ion-item>
            <ion-thumbnail>
              <ion-img src="assets/images/profile1.png" style="border-radius: 999px;"></ion-img>
            </ion-thumbnail>

            <ion-label style="margin-left: 10px;">
              <h1>Alex</h1>
              <p style="font-size: 18px; color: black;">Sr. Software Engineer</p>
              <p style="color: black;">Feild of Expertise: Coding,</p>
              <p style="color: black;">Web Devlopement(HTML,CSS,JS,React)</p>
              <p style="color: black;">Experince:5+ years.</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-thumbnail>
              <ion-img src="assets/images/profile2.png" style="border-radius: 999px;"></ion-img>
            </ion-thumbnail>

            <ion-label style="margin-left: 10px;">
              <h1>Vince</h1>
              <p style="font-size: 18px; color: black;">Sr. Software Engineer</p>
              <p style="color: black;">Feild of Expertise: Coding,</p>
              <p style="color: black;">Android App Devloper.</p>
              <p style="color: black;">Experince:3+ years.</p>

            </ion-label>
          </ion-item>


          <ion-item>
            <ion-thumbnail>
              <ion-img src="assets/images/profile3.png" style="border-radius: 999px;"></ion-img>
            </ion-thumbnail>

            <ion-label style="margin-left: 10px;">
              <h1>Bob</h1>
              <p style="font-size: 18px; color: black;">Sr. Software Engineer</p>
              <p style="color: black;">Feild of Expertise: Coding,</p>
              <p style="color: black;">Cloud Computing,DevOps</p>
              <p style="color: black;">Experince:4+ years.</p>
            </ion-label>
          </ion-item>


          <ion-item>
            <ion-thumbnail>
              <ion-img src="assets/images/profile1.png" style="border-radius: 999px;"></ion-img>
            </ion-thumbnail>

            <ion-label style="margin-left: 10px;">
              <h1>Johnson</h1>
              <p style="font-size: 18px; color: black;">HR</p>
              <p style="color: black;">Feild of Expertise: Communication,</p>
              <!-- <p style="color: black;">Cloud Computing,DevOps</p> -->
              <p style="color: black;">Experince:6+ years.</p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-thumbnail>
              <ion-img src="assets/images/profile3.png" style="border-radius: 999px;"></ion-img>
            </ion-thumbnail>

            <ion-label style="margin-left: 10px;">
              <h1>Kane</h1>
              <p style="font-size: 18px; color: black;">Business Analyst</p>
              <p style="color: black;">Feild of Expertise: Management,</p>
              <!-- <p style="color: black;">Cloud Computing,DevOps</p> -->
              <p style="color: black;">Experince:3+ years.</p>
            </ion-label>
          </ion-item>


        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
