<ion-header>
  <ion-toolbar color="--ion-color-primary">
    <ion-title>Candidate-details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6" offset-sm="2">
        <ion-list>


          <ion-item>
            <ion-thumbnail>
              <ion-img src="assets/images/c1.png" style="border-radius: 999px;"></ion-img>
            </ion-thumbnail>

            <ion-label style="margin-left: 10px;">
              <h1>John</h1>
              <p style="font-size: 18px; color: black;">ABC College Delhi</p>
              <p style="color: black;">Course: B.Tech</p>
              <p style="color: black;">Branch: Computer Science</p>
              <p style="color: black;">Date of Interview: 03/06/2021</p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-thumbnail>
              <ion-img src="assets/images/c2.png" style="border-radius: 999px;"></ion-img>
            </ion-thumbnail>

            <ion-label style="margin-left: 10px;">
              <h1>Varun</h1>
              <p style="font-size: 18px; color: black;">SRMS College Bareilly</p>
              <p style="color: black;">Course: B.Tech</p>
              <p style="color: black;">Branch: Information Technology</p>
              <p style="color: black;">Date of Interview: 23/05/2021</p>

            </ion-label>
          </ion-item>


          <ion-item>
            <ion-thumbnail>
              <ion-img src="assets/images/c3.png" style="border-radius: 999px;"></ion-img>
            </ion-thumbnail>

            <ion-label style="margin-left: 10px;">
              <h1>Shubham</h1>
              <p style="font-size: 18px; color: black;">XYZ College Lucknow</p>
              <p style="color: black;">Course: B.Tech</p>
              <p style="color: black;">Branch: Electronic and Comm.</p>
              <p style="color: black;">Date of Interview: 18/04/2021</p>
            </ion-label>
          </ion-item>


          <ion-item>
            <ion-thumbnail>
              <ion-img src="assets/images/c4.png" style="border-radius: 999px;"></ion-img>
            </ion-thumbnail>

            <ion-label style="margin-left: 10px;">
              <h1>Rayan</h1>
              <p style="font-size: 18px; color: black;">QWE College Banglore.</p>
              <p style="color: black;">Course: B.Tech</p>
              <p style="color: black;">Branch: Information Technology.</p>
              <p style="color: black;">Date of Interview: 20/06/2021</p>

            </ion-label>
          </ion-item>

          <ion-item>
            <ion-thumbnail>
              <ion-img src="assets/images/c2.png" style="border-radius: 999px;"></ion-img>
            </ion-thumbnail>

            <ion-label style="margin-left: 10px;">
              <h1>Karun</h1>
              <p style="font-size: 18px; color: black;">ICMI College Noida</p>
              <p style="color: black;">Course: B.Tech</p>
              <p style="color: black;">Branch: Information Technology.</p>
              <p style="color: black;">Date of Interview: 21/06/2021</p>


            </ion-label>
          </ion-item>


        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
