<ion-header  >
  <ion-toolbar>
    <ion-title>HR-Portal</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>



</ion-header>
<ion-content class= "background" no-scroll padding>

<ion-grid>

  <ion-row>
    <ion-col  >

      <ion-card class="add-interviwer" routerLink = "add-interviewer" >

      </ion-card>
    </ion-col>
    <ion-col >

      <ion-card class="add-candidates" routerLink = "add-candidate" >

      </ion-card>
    </ion-col>

  </ion-row>
  </ion-grid>
  </ion-content>
